.display-5 {
	box-sizing: border-box;
	color: #212121;
	color-scheme: light;
	display: block;
	font-family: Manrope, sans-serif;
	font-size: 32.859px;
	font-weight: 400;
	height: 39.4219px;
	line-height: 39.4308px;
	margin-block-end: 8px;
	margin-block-start: 0px;
	margin-bottom: 8px;
	margin-inline-end: 0px;
	margin-inline-start: 0px;
	margin-top: 0px;
	text-align: start;
	text-size-adjust: 100%;
	unicode-bidi: isolate;
	width: 448px;
}